.Connect-wrapper {
  padding: 55px 136px;
  background: #1a1a29;
}
.form-input {
  padding: 12px;
  background: #31313f;
  opacity: 0.5;
  color: #fff;
  font-size: 24px;
  border: 0;
  border-radius: 12px;
}
.submit-btn {
  padding: 15px 66px;
  border-radius: 8px;
  width: 35%;
  background: #7562e0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border: 0;
}
.connect-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 36px;
}
.Connect-wrapper-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .Connect-wrapper {
    padding: 55px 18px;
  }
  .Connect-wrapper-div {
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }
  .submit-btn {
    width: 90%;
  }
  .connect-form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
  }
}
