.Connect-wrapper {
  padding: 55px 136px;
  background: #1a1a29;
}
.form-input {
  padding: 12px;
  background: #31313f;
  opacity: 0.5;
  color: #fff;
  font-size: 24px;
  border: 0;
  border-radius: 12px;
}
.submit-btn {
  padding: 15px 66px;
  border-radius: 8px;
  width: 35%;
  background: #7562e0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border: 0;
}
