.NavParent {
  display: inline-flex;
  padding: 24px 0px;
  justify-content: space-around;
  align-items: center;
  background: #181824;
  width: 100vw;
}

.NavChild1 {
  color: #7562e0;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.NavChild2 {
  display: flex;
  list-style: none;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.NavChild2 p {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0;
}
.NavChild2 p:hover {
  color: #7562e0;
  transition: color 0.3s ease-in-out;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .NavParent {
    flex-direction: column;
  }
  .NavChild2 {
    margin-top: 18px;
    gap: 18px;
  }
}
